@import url('https://fonts.googleapis.com/css2?family=Amita&family=Saira+Semi+Condensed&display=swap');


* {

    margin: 0;
}

:root {

    --primary-color: #ff9f1c;
}

:root {
    --secondary-color: #000000
}

:root {
    --accent1-color: #2ec4b6
}

:root {
    --accent2-color: #000080
}

:root {
    --heading-font: 'Amita', serif
}

:root {
    --paragraph-font: 'Saira Semi Condensed', sans-serif
}

:root {
    --nav-background-color: #2ec4b6
}

:root {
    --nav-link-color: #000000
}

:root {
    --nav-hover-link-color: #000000
}

:root {
    --nav-hover-background-color: #000080
}

body {

    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
}


header {
    width: 100%;
    display: grid;
   
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--primary-color);
    padding: 10px 0;

}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

nav>a {
    margin: 0 5px;
    min-width: 50px;
    text-align: center;
    border: 2px solid #2ec4b6;
}


header>img {

    min-width: 150px;
}










body {
    font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}


main>img {
   
    width: 100%;
    height: auto;
    
}




h1 {
    max-width: 80%;
    color: var(--accent2-color);
    grid-column: 1 /3;
    grid-row: 1;
    background-color: #2ec4b6;
    margin: auto;
    text-align: center;
    font-size: 40px;

}



div>img {
    padding: 10px;
    max-width: 15%;
    min-width: 200px;

}

section>p {
    
    padding: 10px;
    
}



h2 {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: var(--accent2-color);
}

.Adventure {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: space-evenly;
    margin: auto;
    align-content: center;
}

.divider {
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    row-gap: 30px;
    grid-template-columns: minmax(100px, 1fr);
    padding: 50px 0;

}

#small {
    
    min-width: 40%;
    height: 200px;
    order: 1;
    padding: 0 ;
    border: 2px solid #2ec4b6 ;


}

.article {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
article > p {
    font-weight: bold;
    background-color: #2ec4b6;
    padding: 20px 5%;
    max-width: 750px;
}