@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    background-color: white;
}

form {
    background-color: hsl(249, 41%, 97%);
    border: 2px solid navy;
    border-radius: 15px;
    max-width: 580px;
    margin: 30px auto 100px;
    padding: 4em 2em;
    display: grid;
    row-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header {
    padding: 2em;
    margin: 10px 0 10px;
    color: hsl(194, 53%, 13%);
}

h1 {
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #000;
}

.questions {
    padding: 0 1em;
    display: grid;
    column-gap: 1em;
    grid-template-columns: 10px 1fr;
}

select {
    margin-bottom: 30px;
}

input,
textarea {
    width: 15em;
    margin: 0 auto 30px;
    padding: 1.2em;
    font-size: 1.1em;

}

#q2 {
    font-size: 1.5em;
}

#q4 {
    font-size: 1.3em;
    width: 8em
}

#q3 {
    font-size: 1em;
    font-weight: 700;
    width: 10em;
    margin: 0 auto 30px;
    padding: 15px;
}

.button {
    width: 10em;
    padding: 0.2em 1em;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px auto 0;

}

button:hover,
button:focus {
    color: #fff;
    background-color: hsl(236, 42%, 57%);
    border-radius: 1em;
    cursor: pointer;

}

div>p {
    color: hsl(236, 72%, 26%);
    font-weight: 600;
}

footer>p {
    padding: 50px 10px;
    text-align: center;
    background-color: hsl(236, 49%, 41%);
    font-size: 1.3em;
}