* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}

main {
    width: 50rem;
    padding: 4rem;
}

aside {
    position: relative;
    bottom: 2rem;
    width: 70rem;
    text-align: center;

}

aside h2{
    position: absolute;
    bottom: 19rem;
    left: 34rem;
}

aside img {
    position: relative;
    left: 30rem;
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px steelblue;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid hsl(200, 70, 50);
    padding: 1rem;
    background-color: hsl(220, 80, 20);
    color: black;

}